<!-- Just copy and paste this file to your output folder and set the value for your data -->
<appSettings>
  <add key="twilio,AccountId" value="/* Add your value here */"/>
  <add key="twilio.SecretKey" value="/* Add your value here */"/>
  <add key="twilio.From" value="/* Add your value here */"/>
  <add key="twilio.To" value="/* Add your value here */"/>
  <add key="mailchimp.Location" value="/* Add your value here */"/>
  <add key="mailchimp.ApiKey" value="/* Add your value here */"/>
</appSettings>